{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {# {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.prenom) }}
    {{ form_row(registrationForm.nom) }}
    {{ form_row(registrationForm.estHomme) }}
    {{ form_row(registrationForm.dateNaissance) }}

     {{ form_row(adresseForm.nbRue) }}
    {{ form_row(adresseForm.nomRue) }}
    {{ form_row(adresseForm.codePostal) }}
    {{ form_row(adresseForm.villeNom) }}
    {{ form_row(adresseForm.complement) }}


    <button type="submit" class="btn btn-outline-success">Register</button>
    {{ form_end(registrationForm) }} #}

    <div class="container">
        <div class="col-lg-6 col-10 mx-auto">
            {{ form_start(adresseForm) }}
            {{ form_row(adresseForm.user.email) }}
            {{ form_row(adresseForm.user.plainPassword) }}
            {{ form_row(adresseForm.user.prenom) }}
            {{ form_row(adresseForm.user.nom) }}
            {{ form_row(adresseForm.user.estHomme) }}
            {{ form_row(adresseForm.user.dateNaissance) }}

            {{ form_row(adresseForm.nbRue, {'type':'number'}) }}
            {{ form_row(adresseForm.nomRue) }}
            {{ form_row(adresseForm.codePostal) }}
            {{ form_row(adresseForm.villeNom) }}
            {{ form_row(adresseForm.complement) }}


            <button type="submit" class="btn btn-outline-success">Register</button>
            {{ form_end(adresseForm) }}
        </div>
    </div>
{% endblock %}

