{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Compte {% endblock %}
    {% block bg %}bg-body-deg{% endblock %}
{% block body %}
    <div style=" background: url({{ asset('img/compte.jpg') }}) center center no-repeat;
            background-size: cover;
            width: auto;
            min-height: 244px;" class="bg-compte d-flex">
        <h2 class="container align-self-center fw-normal fs-1">
            {% if app.request.attributes.get('_route') == "app_register" %}
                Créer mon <br>
                compte
            {% else %}
                Modifier mon <br>
                compte
            {% endif %}
        </h2>
    </div>
    <div class="container my-4">
        <div class="col-lg-6 col-10 mx-auto">
            {% if app.request.attributes.get('_route') == "user_edit" %}
                <a class="btn btn-outline-dark my-4" href="{{ path('compte') }}">Retour</a>
            {% endif %}
            {{ form_start(adresseForm) }}
            {{ form_row(adresseForm.user.email) }}
            {{ form_row(adresseForm.user.plainPassword) }}
            {{ form_row(adresseForm.user.prenom) }}
            {{ form_row(adresseForm.user.nom) }}
            {{ form_row(adresseForm.user.estHomme) }}
            {{ form_row(adresseForm.user.dateNaissance) }}

            {{ form_row(adresseForm.nbRue, {'type':'number'}) }}
            {{ form_row(adresseForm.nomRue) }}
            {{ form_row(adresseForm.codePostal) }}
            {{ form_row(adresseForm.villeNom) }}
            {{ form_row(adresseForm.complement) }}


            <button type="submit" class="btn btn-outline-success">Enregistrer</button>
            {{ form_end(adresseForm) }}
        </div>
    </div>
{% endblock %}

