<div class="col-4 mx-auto">
    {{ form_start(form) }}

    {{ form_row(form.note) }}
    {{ form_row(form.contenu) }}
    <div>
        <button class="btn btn-primary">{{ button_label|default('Publier mon avis') }}</button>
    </div>
    {{ form_end(form) }}
</div>