{% extends 'base-admin.html.twig' %}

{% block title %}Sub sous catégories{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin/dataTable.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script rel=script" src="{{ asset('js/admin/dataTable.js') }}"></script>
    <script rel=script" src="{{ asset('js/admin/initDataTable.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Sub sous catégories</h1>

    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Sous catégorie parent</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for subsouscategorie in subsouscategories %}
            <tr>
                <td>{{ subsouscategorie.id }}</td>
                <td>{{ subsouscategorie.nom }}</td>
                <td>{{ subsouscategorie.souscategorie }}</td>
                <td>
                    <a class="btn btn-outline-dark"
                       href="{{ path('subsouscategorie_show', {'id': subsouscategorie.id}) }}">Voir</a>
                    <a class="btn btn-outline-primary"
                       href="{{ path('subsouscategorie_edit', {'id': subsouscategorie.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('subsouscategorie_new') }}">Créer</a>
{% endblock %}
