{% extends 'base-admin.html.twig' %}

{% block title %}Sub sous catégorie{% endblock %}

{% block body %}
    <h1>Sub sous catégorie</h1>

    <table class="table mb-3">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ subsouscategorie.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ subsouscategorie.nom }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-dark" href="{{ path('subsouscategorie_index') }}">Retour à la liste</a>

    <a class="btn btn-outline-warning"
       href="{{ path('subsouscategorie_edit', {'id': subsouscategorie.id}) }}">Modifier</a>

    {{ include('subsouscategorie/_delete_form.html.twig') }}
{% endblock %}
