{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Protection des données{% endblock %}
    {% block bg %}bg-body-deg{% endblock %}
{% block body %}

    <main>
        <nav
                class="container my-2"
                style="--bs-breadcrumb-divider: '>'"
                aria-label="breadcrumb"
        >
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('default') }}">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ categorie.nom }}</li>
            </ol>
        </nav>

        <!-- header page -->
        <div class="d-flex"
             style="background: url({{ asset('uploads/imagescat/'~ categorie.bannerImage) }}) center center no-repeat;
                     background-size: cover;
                     width: auto;
                     min-height: 244px;">
            <h2 class="container align-self-center h2-souscat">Produits pour {{ categorie.nom }}</h2>
        </div>

        <!-- Les sous catégories -->
        <section class="mt-5">
            <div class="container">
                <div class="row">
                    {% for souscategorie in souscategories %}
                        <div class="col-lg-4 col-sm-6 mt-4 mb-1">
                            <div class="souscat">
                                <a href="{{ path('boutiqueSouscat',  {'categorie' : categorie.id , 'souscategorie' : souscategorie.id,  'pageCourante' : 1}) }}">
                                    <h3 class="h3-souscat text-center pt-2">{{ souscategorie.nom }}</h3>
                                    <img
                                            class="img-fluid w-100"
                                            src="{{ asset('uploads/imagessouscat/'~ souscategorie.imageLink) }}"
                                            width="357"
                                            height="238"
                                            alt="{{ souscategorie.nom }}"
                                    /></a>
                                <ul class="li-souscat">
                                    {% for subsouscategorie in subsouscategories %}
                                        {% if subsouscategorie.souscategorie.id == souscategorie.id %}
                                            <li>
                                                <a href={{ path('boutiqueSubsouscat',  {'categorie' : categorie.id , 'souscategorie' : souscategorie.id,  'subsouscategorie' : subsouscategorie.id,  'pageCourante' : 1}) }}> {{ subsouscategorie.nom }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>


        <!-- Slider produits -->
        <section class="pb-3">
            <h2 class="container pt-4 text-center">Meilleures ventes</h2>
            <div class="swiper container">
                <div class="position-relative mySwiper py-4">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-wrapper">


                        <!-- Les cards -->
                        {% for  produit in produits %}
                            <div class="swiper-slide d-flex justify-content-center">
                                <div class="card">

                                    <a href="{{ path('singleProduct', {'id': produit.id}) }}">
                                        <figure>
                                            <img
                                                    src="{{ asset('uploads/imagesproduit/'~ produit.images | first) }}"
                                                    class="img-produit"
                                                    alt="{{ produit.nom }}"
                                                    title="{{ produit.nom }}"
                                                    width="150"
                                                    height="180"
                                            />
                                        </figure>
                                        <div class="card-body">
                                            <h5 class="card-title">{{ produit.idMarque.nom }}</h5>
                                            <p>{{ produit.nom }}</p>
                                            <h5 class="card-price">{{ (produit.prixHt*1.2 )| round(2) }} €</h5>
                                        </div>
                                    </a>

                                    <a href="{{ path('panier_add_stay', {'id': produit.id, 'qty' : 1}) }}"
                                       class="mybutton-card mx-auto mb-3 panier">
                                        Ajouter au panier
                                    </a>

                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>

        {# Slider produits #}
        <section class="pb-5">
            <h2 class="container pt-4 text-center">Offres spéciales</h2>
            <div class="swiper container">
                <div class="position-relative mySwiper py-4">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-wrapper">


                        <!-- Les cards -->
                        {% for  produit in produits|reverse %}
                            <div class="swiper-slide d-flex justify-content-center">
                                <div class="card">

                                    <a href="{{ path('singleProduct', {'id': produit.id}) }}">
                                        <figure>
                                            <img
                                                    src="{{ asset('uploads/imagesproduit/'~ produit.images | first) }}"
                                                    class="img-produit"
                                                    alt="{{ produit.nom }}"
                                                    title="{{ produit.nom }}"
                                                    width="150"
                                                    height="180"
                                            />
                                        </figure>
                                        <div class="card-body">
                                            <h5 class="card-title">{{ produit.idMarque.nom }}</h5>
                                            <p>{{ produit.nom }}</p>
                                            <h5 class="card-price">{{ (produit.prixHt*1.2 )| round(2) }} €</h5>
                                        </div>
                                    </a>

                                    <a href="{{ path('panier_add_stay', {'id': produit.id, 'qty' : 1}) }}"
                                       class="mybutton-card mx-auto mb-3 panier">
                                        Ajouter au panier
                                    </a>

                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>


        <!-- Les marques     -->
        {% include 'parts/marques.html.twig' %}

        <!-- section réassurance -->
        {% include 'parts/reassuranceClient.html.twig' %}
    </main>
{% endblock %}