{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <main>
        <!-- Fil d'ariane -->
        <nav
                id="ancre-produit"
                class="container my-2"
                style="--bs-breadcrumb-divider: '>'"
                aria-label="breadcrumb"
        >
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('default') }}">Accueil</a></li>
                <li class="breadcrumb-item">
                    <a href="sous-categories.html">{{ produit.idCategorie.nom }}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="boutique.html">{{ produit.idSousCategorie.nom }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {{ produit.idMarque.nom }} {{ produit.nom }}
                </li>
            </ol>
        </nav>


        <!-- Produit -->
        <section>
            <div class="container">
                <div class="row">
                    <!-- left -->
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <!-- grande image -->
                            <div class="col-12 text-center">
                                <figure class="img-prod-main p-3">
                                    <img
                                            class="mb-2 img-fluid"
                                            id="expandedImg"
                                            src="{{ asset('uploads/imagesproduit/'~ images | first) }}"
                                    />
                                </figure>
                            </div>

                            <!-- les miniatures -->
                            <div class="col-12">
                                <div class="row">
                                    {% for image in images %}
                                        <div class="col-3 text-center">
                                            <img
                                                    src="{{ asset('uploads/imagesproduit/'~ image) }}"
                                                    class="img-prod-sm p-2 img-fluid"
                                                    alt="produit1"
                                                    style="width: 100%"
                                                    onclick="myFunction(this);"
                                            />
                                        </div>
                                    {% endfor %}


                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- right -->
                    <div class="col-lg-6 col-12">
                        <div class="row">
                            <div class="col-12">
                                <h2>{{ produit.nom }}</h2>
                            </div>
                            <div class="col-7 mb-4 d-flex align-items-center">
                                <div class="star-yell">
                                    {% if note %}
                                        {% for i in 1..5 %}
                                            {% if i <=  note %}
                                                <i class="me-1 fas fa-star"></i>
                                            {% else %}
                                                <i class="me-1 far fa-star"></i>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% for i in 1..5 %}
                                            <i class="me-1 far fa-star"></i>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <a href="#ancre-avis">
                                    <p class="avis-pdt my-0">
                                        Lire les avis ( {{ produitAvis | length }} )
                                    </p>
                                </a>
                            </div>

                            <div class="col-2"></div>

                            <div class="col-3 mb-4">
                                <div class="d-flex align-items-center mt-1">
                                    {% if produit.estDispo %}
                                        <p class="my-0 me-2 dispo">Disponible</p>
                                        <i class="fas fa-check dispo"></i>
                                    {% else %}
                                        <p class="my-0 me-2 text-danger">Indisponible</p>
                                    {% endif %}

                                </div>
                            </div>

                            <div class="col-12 px-lg-5">
                                <h5>Description produit</h5>
                                <p>
                                    {{ produit.description }}
                                </p>
                            </div>

                            <div class="col-12 d-flex align-items-end px-lg-5">
                                <h3 class="my-0 text-red text-titre">{{ (produit.prixHt*1.2) | round(2, 'floor') }}
                                    €</h3>
                                <p class="my-0 ms-3">tva incluse</p>
                            </div>

                            <div
                                    class="
                    col-12
                    d-flex
                    justify-content-center
                    align-items-center
                    my-3
                  "
                            >
                                {% if app.request.get('quantite') is not null and app.request.get('quantite') == 2 %} {% endif %}

                                <p class="my-0">

                                    {# form quantité produits #}
                                <form method="post" class="px-1 py-1 me-3">
                                    <select name="quantite" onchange='this.form.submit()'>
                                        {% for i in 1..10 %}
                                            {% if i == 1 %}
                                                <option value="1">1</option>
                                            {% else %}
                                                <option {% if app.request.get('quantite') is not null and app.request.get('quantite') ==  i %}selected{% endif %}
                                                        value="{{ i }}">{{ i }}</option>
                                            {% endif %}

                                        {% endfor %}

                                    </select>
                                </form>
                                </p>

                                <!-- Button trigger modal -->
                                <button
                                        type="button"
                                        class="btn mybutton my-0"
                                        data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop1"
                                >
                                    Ajouter au panier
                                </button>

                                <!-- Modal -->
                                <div
                                        class="modal fade"
                                        id="staticBackdrop1"
                                        data-bs-backdrop="static"
                                        data-bs-keyboard="false"
                                        tabindex="-1"
                                        aria-labelledby="staticBackdropLabel1"
                                        aria-hidden="true"
                                >
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5
                                                        class="modal-title text-red"
                                                        id="staticBackdropLabel1"
                                                >
                                                    L'article a été ajouté à votre panier
                                                </h5>
                                                <button
                                                        type="button"
                                                        class="btn-close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close"
                                                ></button>
                                            </div>
                                            <!-- BODY FORM -->
                                            <div class="modal-body d-flex flex-column">
                                                <p class="mb-1">
                                                    {{ produit.nom }}
                                                </p>
                                                <div class="d-flex align-items-center">
                                                    <h6 class="my-0">{{ quantity }}
                                                        X {{ (produit.prixHt * 1.2) | round(2, 'floor') }} €</h6>
                                                    <p class="ms-4 my-0 text-red fs-5 fw-bold">
                                                        {{ quantity* (produit.prixHt * 1.2) | round(2, 'floor') }} €
                                                    </p>
                                                </div>
                                                <div>
                                                    <div class="d-flex align-items-center my-2">
                                                        <img
                                                                src="images/pick-up-store.svg"
                                                                alt="retrait en magasin"
                                                        />
                                                        <h6 class="fw-light my-0 ms-2">
                                                            Retirer en magasin - gratuit
                                                        </h6>
                                                    </div>
                                                    <div class="d-flex align-items-center my-2">
                                                        <img
                                                                src="images/home.svg"
                                                                alt="retrait en magasin"
                                                        />
                                                        <h6 class="fw-light my-0 ms-2">
                                                            Livraison - Offerte
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal-footer my-3">
                                                <!-- renvoyer boutique -->
                                                <a
                                                        href="{{ path('panier_add_stay', {'id' : produit.id, 'qty' : quantity}) }}"
                                                        class="btn btn-secondary"
                                                >
                                                    Poursuivre les achats
                                                </a>
                                                <!-- Envoyer panier -->
                                                <a
                                                        href="{{ path('panier_add', {'id' : produit.id, 'qty' : quantity}) }}"

                                                        class="btn btn-primary"
                                                >
                                                    Accéder au panier
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 d-flex align-items-start mt-2 mb-3">
                                <img src="images/store.svg" alt="Retrait en magasin"/>
                                <h6 class="h6-rea">Retirer en magasin - gratuit</h6>
                            </div>
                            <div class="col-6 d-flex align-items-start mt-2 mb-3">
                                <img src="images/home.svg" alt="Livraison offerte"/>
                                <h6 class="h6-rea">Livraison - Offerte</h6>
                            </div>
                            <div
                                    class="
                    col-7
                    d-flex
                    align-items-center
                    justify-content-around
                    mb-3
                  "
                            >
                                <h6 class="h6-rea ms-0">Modes de paiement :</h6>
                                <img
                                        class="me-1"
                                        width="60"
                                        alt="Paypal"
                                        src="images/paypal2.svg"
                                />
                                <img
                                        class="me-1"
                                        width="30"
                                        alt="Mastercard"
                                        src="images/mastercard.svg"
                                />
                                <img width="30" alt="Visa" src="images/visa.svg"/>
                            </div>
                            <div class="col-5 d-flex align-items-center mb-3">
                                <img
                                        class="me-2 mb-1 svg"
                                        height="30"
                                        alt="Paiement sécurisé"
                                        src="images/secure-payment.svg"
                                        width="18"
                                />
                                <h6 class="h6-rea">Paiement sécurisé</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Produits en relation -->
        <!-- Slider produits -->
        <section class="pb-3">
            <h2 class="container pt-5 text-center">
                Produits qui peuvent vous intéresser
            </h2>
            <div class="swiper container">
                <div class="position-relative mySwiper py-4">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-wrapper">
                        <!-- Les cards -->
                        <div class="swiper-slide d-flex justify-content-center">
                            <div class="card">
                                <a href="">
                                    <figure>
                                        <img
                                                src="images/img-produit.jpg"
                                                class="img-produit"
                                                alt="nom produit"
                                                title="nom produit"
                                                width="150"
                                                height="180"
                                        />
                                    </figure>
                                    <div class="card-body">
                                        <h5 class="card-title">Ultima</h5>
                                        <p>Ultima Medium Maxi Croquettes au poulet 7,5 kg</p>
                                        <h5 class="card-price">11,99€</h5>
                                    </div>
                                </a>

                                <button class="mybutton-card mx-auto mb-3">
                                    Ajouter au panier
                                </button>
                            </div>
                        </div>

                        <div class="swiper-slide d-flex justify-content-center">
                            <div class="card">
                                <a href="">
                                    <figure>
                                        <img
                                                src="images/img-produit.jpg"
                                                class="img-produit"
                                                alt="nom produit"
                                                title="nom produit"
                                                width="150"
                                                height="180"
                                        />
                                    </figure>
                                    <div class="card-body">
                                        <h5 class="card-title">Ultima</h5>
                                        <p>Ultima Medium Maxi Croquettes au poulet 7,5 kg</p>
                                        <h5 class="card-price">11,99€</h5>
                                    </div>
                                </a>
                                <button class="mybutton-card mx-auto mb-3">
                                    Ajouter au panier
                                </button>
                            </div>
                        </div>

                        <div class="swiper-slide d-flex justify-content-center">
                            <div class="card">
                                <a href="">
                                    <figure>
                                        <img
                                                src="images/img-produit.jpg"
                                                class="img-produit"
                                                alt="nom produit"
                                                title="nom produit"
                                                width="150"
                                                height="180"
                                        />
                                    </figure>
                                    <div class="card-body">
                                        <h5 class="card-title">Ultima</h5>
                                        <p>Ultima Medium Maxi Croquettes au poulet 7,5 kg</p>
                                        <h5 class="card-price">11,99€</h5>
                                    </div>
                                </a>
                                <button class="mybutton-card mx-auto mb-3">
                                    Ajouter au panier
                                </button>
                            </div>
                        </div>

                        <div class="swiper-slide d-flex justify-content-center">
                            <div class="card">
                                <a href="">
                                    <figure>
                                        <img
                                                src="images/img-produit.jpg"
                                                class="img-produit"
                                                alt="nom produit"
                                                title="nom produit"
                                                width="150"
                                                height="180"
                                        />
                                    </figure>
                                    <div class="card-body">
                                        <h5 class="card-title">Ultima</h5>
                                        <p>Ultima Medium Maxi Croquettes au poulet 7,5 kg</p>
                                        <h5 class="card-price">11,99€</h5>
                                    </div>
                                </a>
                                <button class="mybutton-card mx-auto mb-3">
                                    Ajouter au panier
                                </button>
                            </div>
                        </div>

                        <div class="swiper-slide d-flex justify-content-center">
                            <div class="card">
                                <a href="">
                                    <figure>
                                        <img
                                                src="images/img-produit.jpg"
                                                class="img-produit"
                                                alt="nom produit"
                                                title="nom produit"
                                                width="150"
                                                height="180"
                                        />
                                    </figure>
                                    <div class="card-body">
                                        <h5 class="card-title">Ultima</h5>
                                        <p>Ultima Medium Maxi Croquettes au poulet 7,5 kg</p>
                                        <h5 class="card-price">11,99€</h5>
                                    </div>
                                </a>
                                <button class="mybutton-card mx-auto mb-3">
                                    Ajouter au panier
                                </button>
                            </div>
                        </div>

                        <div class="swiper-slide d-flex justify-content-center">
                            <div class="card">
                                <a href="">
                                    <figure>
                                        <img
                                                src="images/img-produit.jpg"
                                                class="img-produit"
                                                alt="nom produit"
                                                title="nom produit"
                                                width="150"
                                                height="180"
                                        />
                                    </figure>
                                    <div class="card-body">
                                        <h5 class="card-title">Ultima</h5>
                                        <p>Ultima Medium Maxi Croquettes au poulet 7,5 kg</p>
                                        <h5 class="card-price">11,99€</h5>
                                    </div>
                                </a>
                                <button class="mybutton-card mx-auto mb-3">
                                    Ajouter au panier
                                </button>
                            </div>
                        </div>

                        <div class="swiper-slide d-flex justify-content-center">
                            <div class="card">
                                <a href="">
                                    <figure>
                                        <img
                                                src="images/img-produit.jpg"
                                                class="img-produit"
                                                alt="nom produit"
                                                title="nom produit"
                                                width="150"
                                                height="180"
                                        />
                                    </figure>
                                    <div class="card-body">
                                        <h5 class="card-title">Ultima</h5>
                                        <p>Ultima Medium Maxi Croquettes au poulet 7,5 kg</p>
                                        <h5 class="card-price">11,99€</h5>
                                    </div>
                                </a>
                                <button class="mybutton-card mx-auto mb-3">
                                    Ajouter au panier
                                </button>
                            </div>
                        </div>

                        <div class="swiper-slide d-flex justify-content-center">
                            <div class="card">
                                <a href="">
                                    <figure>
                                        <img
                                                src="images/img-produit.jpg"
                                                class="img-produit"
                                                alt="nom produit"
                                                title="nom produit"
                                                width="150"
                                                height="180"
                                        />
                                    </figure>
                                    <div class="card-body">
                                        <h5 class="card-title">Ultima</h5>
                                        <p>Ultima Medium Maxi Croquettes au poulet 7,5 kg</p>
                                        <h5 class="card-price">11,99€</h5>
                                    </div>
                                </a>
                                <button class="mybutton-card mx-auto mb-3">
                                    Ajouter au panier
                                </button>
                            </div>
                        </div>

                        <div class="swiper-slide d-flex justify-content-center">
                            <div class="card">
                                <a href="">
                                    <figure>
                                        <img
                                                src="images/img-produit.jpg"
                                                class="img-produit"
                                                alt="nom produit"
                                                title="nom produit"
                                                width="150"
                                                height="180"
                                        />
                                    </figure>
                                    <div class="card-body">
                                        <h5 class="card-title">Ultima</h5>
                                        <p>Ultima Medium Maxi Croquettes au poulet 7,5 kg</p>
                                        <h5 class="card-price">11,99€</h5>
                                    </div>
                                </a>
                                <button class="mybutton-card mx-auto mb-3">
                                    Ajouter au panier
                                </button>
                            </div>
                        </div>

                        <div class="swiper-slide d-flex justify-content-center">
                            <div class="card">
                                <a href="">
                                    <figure>
                                        <img
                                                src="images/img-produit.jpg"
                                                class="img-produit"
                                                alt="nom produit"
                                                title="nom produit"
                                                width="150"
                                                height="180"
                                        />
                                    </figure>
                                    <div class="card-body">
                                        <h5 class="card-title">Ultima</h5>
                                        <p>Ultima Medium Maxi Croquettes au poulet 7,5 kg</p>
                                        <h5 class="card-price">11,99€</h5>
                                    </div>
                                </a>
                                <button class="mybutton-card mx-auto mb-3">
                                    Ajouter au panier
                                </button>
                            </div>
                        </div>

                        <div class="swiper-slide d-flex justify-content-center">
                            <div class="card">
                                <a href="">
                                    <figure>
                                        <img
                                                src="images/img-produit.jpg"
                                                class="img-produit"
                                                alt="nom produit"
                                                title="nom produit"
                                                width="150"
                                                height="180"
                                        />
                                    </figure>
                                    <div class="card-body">
                                        <h5 class="card-title">Ultima</h5>
                                        <p>Ultima Medium Maxi Croquettes au poulet 7,5 kg</p>
                                        <h5 class="card-price">11,99€</h5>
                                    </div>
                                </a>
                                <button class="mybutton-card mx-auto mb-3">
                                    Ajouter au panier
                                </button>
                            </div>
                        </div>

                        <div class="swiper-slide d-flex justify-content-center">
                            <div class="card">
                                <a href="">
                                    <figure>
                                        <img
                                                src="images/img-produit.jpg"
                                                class="img-produit"
                                                alt="nom produit"
                                                title="nom produit"
                                                width="150"
                                                height="180"
                                        />
                                    </figure>
                                    <div class="card-body">
                                        <h5 class="card-title">Ultima</h5>
                                        <p>Ultima Medium Maxi Croquettes au poulet 7,5 kg</p>
                                        <h5 class="card-price">11,99€</h5>
                                    </div>
                                </a>
                                <button class="mybutton-card mx-auto mb-3">
                                    Ajouter au panier
                                </button>
                            </div>
                        </div>

                        <div class="swiper-slide d-flex justify-content-center">
                            <div class="card">
                                <a href="">
                                    <figure>
                                        <img
                                                src="images/img-produit.jpg"
                                                class="img-produit"
                                                alt="nom produit"
                                                title="nom produit"
                                                width="150"
                                                height="180"
                                        />
                                    </figure>
                                    <div class="card-body">
                                        <h5 class="card-title">Ultima</h5>
                                        <p>Ultima Medium Maxi Croquettes au poulet 7,5 kg</p>
                                        <h5 class="card-price">11,99€</h5>
                                    </div>
                                </a>
                                <button class="mybutton-card mx-auto mb-3">
                                    Ajouter au panier
                                </button>
                            </div>
                        </div>

                        <div class="swiper-slide d-flex justify-content-center">
                            <div class="card">
                                <a href="">
                                    <figure>
                                        <img
                                                src="images/img-produit.jpg"
                                                class="img-produit"
                                                alt="nom produit"
                                                title="nom produit"
                                                width="150"
                                                height="180"
                                        />
                                    </figure>
                                    <div class="card-body">
                                        <h5 class="card-title">Ultima</h5>
                                        <p>Ultima Medium Maxi Croquettes au poulet 7,5 kg</p>
                                        <h5 class="card-price">11,99€</h5>
                                    </div>
                                </a>
                                <button class="mybutton-card mx-auto mb-3">
                                    Ajouter au panier
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Avis clients -->
        <section id="avis" data-star1="{{ star1 }}" , data-star2="{{ star2 }}" , data-star3="{{ star3 }}" ,
                 data-star4="{{ star4 }}" , data-star5="{{ star5 }}">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="pt-5 pb-4 text-center">L'avis de nos clients</h2>
                    </div>
                    <!-- Gauche -->
                    <div class="col-lg-3 col-6 text-center border-end border-secondary">


                        <h6 class="my-0">note</h6>
                        <div
                                class="d-flex align-items-center justify-content-center fw-bold"
                        >
                            {% if note == 0 %}
                                <p class="fs-5 text-titre my-0" id="note">Pas encore noté</p>
                            {% else %}
                                <p class="fs-2 text-titre my-0" id="note">{{ note|round(1, 'ceil') }}</p>
                                <p class="fs-4 text-titre my-0">/</p>
                                <p class="fs-4 text-titre my-0">5</p>
                            {% endif %}
                        </div>
                        <div class="star-yell border-bottom border-secondary mx-5 pb-2">
                            {% if note %}
                                {% for i in 1..5 %}
                                    {% if i <=  note %}
                                        <i class="me-1 fas fa-star"></i>
                                    {% else %}
                                        <i class="me-1 far fa-star"></i>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for i in 1..5 %}
                                    <i class="me-1 far fa-star"></i>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <p class="avis-pdt pt-2">Sur {{ produitAvis | length }} avis</p>
                    </div>
                    <div class="col-lg-1 d-none d-lg-block"></div>
                    <!-- milieu barres -->
                    <div class="col-lg-4 col-6 chart-star">
                        <div id="chart1"></div>
                    </div>
                    <!-- espace vide -->
                    <div class="col-lg-2 d-none d-lg-block"></div>

                    <!-- droite écrire commentaire -->
                    <div class="col-lg-2 col-12 text-center my-3">
                        <!-- Button trigger modal -->
                        {% if app.user %}
                            <button
                                    type="button"
                                    class="btn mybutton"
                                    data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop"
                            >
                                Rédiger un avis
                            </button>

                            <!-- Modal -->
                            <div
                                    class="modal fade"
                                    id="staticBackdrop"
                                    data-bs-backdrop="static"
                                    data-bs-keyboard="false"
                                    tabindex="-1"
                                    aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true"
                            >
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-red" id="staticBackdropLabel">
                                                Votre avis nous intéresse
                                            </h5>
                                            <button
                                                    type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"
                                            ></button>
                                        </div>
                                        <!-- BODY FORM -->
                                        <div class="modal-body d-flex flex-column">

                                            {{ form_start(form, {'action': path('singleProduct', {'id': produit.id}), 'method': 'POST', 'attr': {'class': 'd-flex flex-column'}}) }}
                                            {{ form_errors(form.note) }}
                                            {{ form_widget(form.note) }}
                                            {{ form_errors(form.contenu) }}
                                            {{ form_widget(form.contenu, {'attr': {'class': 'px-2 py-2 rounded'}}) }}

                                            <div class="modal-footer">
                                                <button
                                                        type="button"
                                                        class="btn btn-secondary"
                                                        data-bs-dismiss="modal"
                                                >
                                                    Annuler
                                                </button>
                                                <button class="btn btn-primary">{{ button_label|default('Publier mon avis') }}</button>
                                            </div>
                                            {{ form_end(form) }}


                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>


        <!-- Les avis -->
        <section id="ancre-avis" class="my-3">
            <div class="bg-light-blue mt-5 mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <p class="my-0">{{ produitAvis | length }} avis</p>
                        </div>
                        {# <div class=""></div> #}

                        {{ form_start(formTriAvis, {'attr': {'class': 'col-6 text-end'}} ) }}
                        <p class="my-0">
                            {{ form_label(formTriAvis.ordre) }}
                            {{ form_widget(formTriAvis.ordre) }}
                        </p>
                        {{ form_end(formTriAvis) }}
                        {# <div class="d-flex"></div> #}


                    </div>
                </div>
            </div>
            <div class="container">

                <div class="row" id="blockAvis">
                    {# les avis postés #}
                    {% if produitAvis | length != 0 %}
                        {% for avis in produitAvis %}
                            <div class="col-lg-6 col-12 my-3">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-5">
                                        {% if avis.user is not  null %}
                                            <h6 class="my-0">  {{ avis.user.prenom }} {{ avis.user.nom }} </h6>
                                        {% else %}
                                            <h6 class="my-0"> Inconnu </h6>
                                        {% endif %}
                                    </div>
                                    <div class="col-3">

                                        {% if avis.note == 1 %}
                                            <span class="icon fs-4 text-red my-0">★</span>
                                        {% elseif avis.note == 2 %}
                                            <span class="icon fs-4 text-red my-0">★★</span>
                                        {% elseif avis.note == 3 %}
                                            <span class="icon fs-4 text-red my-0">★★★</span>
                                        {% elseif avis.note == 4 %}
                                            <span class="icon fs-4 text-red my-0">★★★★</span>
                                        {% elseif avis.note == 5 %}
                                            <span class="icon fs-4 text-red my-0">★★★★★</span>
                                        {% endif %}

                                    </div>
                                    <div class="col-3">
                                        <p class="my-0">{{ avis.date ? avis.date|date('d-m-Y') : '' }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 d-none d-lg-block"></div>
                            <div class="col-10 mx-auto">
                                <p class="ms-auto me-0 w-75 my-1">
                                    {{ avis.contenu }}
                                </p>

                            </div>

                            {% if (app.user and app.user.roles[0] == 'ROLE_ADMIN') %}
                                <div class="col-2">{{ include('avis/_delete_form.html.twig') }}
                                </div>
                            {% endif %}
                            <hr/>
                        {% endfor %}
                    {% else %}
                        <div class="col-12 text-center">
                            <h5>Aucun avis n'a été posté pour le moment...</h5>
                        </div>
                    {% endif %}


                </div>
            </div>

            <!-- Bouton up -->
            <div class="container">
                <div class="col-12 mb-3">
                    <a href="#ancre-produit">
                        <div class="text-end me-5">
                            <i
                                    class="
                    fs-5
                    border border-2
                    rounded
                    border-dark
                    p-2
                    fas
                    fa-chevron-up
                  "
                            ></i>
                        </div>
                    </a>
                </div>
            </div>

            <div class="bg-light-blue my-4">
                <div class="container">
                    <div class="row">
                        <div
                                class="col-12 d-flex align-items-center justify-content-center"
                        >

                            <p class="my-0 mx-3">Fin des avis</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- section réassurance -->
        {% include 'parts/reassuranceClient.html.twig' %}
    </main>

    {% block javascripts %}
        {{ parent() }}
        <script rel=script" src="{{ asset('js/product.js') }}"></script>
    {% endblock %}
{% endblock %}
