{% extends 'base-admin.html.twig' %}

{% block title %} {{ parent() }} Produit index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin/dataTable.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script rel=script" src="{{ asset('js/admin/dataTable.js') }}"></script>
    <script rel=script" src="{{ asset('js/admin/initDataTable.js') }}"></script>
{% endblock %}

{% block body %}
    <h1 class="mb-4">Produits</h1>

    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Catégorie</th>
            <th>Type</th>
            <th>PrixHt</th>
            <th>Disponible</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for produit in produits %}

            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description | u.truncate(50, '...') }}</td>
                <td>{{ produit.idCategorie }}</td>
                <td>{{ produit.idSubSousCategorie }}</td>
                <td>{{ produit.prixHt }}</td>
                {% if produit.estDispo %}
                    <td>Oui</td>
                {% else %}
                    <td>Non</td>
                {% endif %}
                <td>
                    <a class="btn btn-outline-dark" href="{{ path('produit_show', {'id': produit.id}) }}">Voir</a>
                    <a class="btn btn-outline-primary"
                       href="{{ path('produit_edit', {'id': produit.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('produit_new') }}">Créer</a>
{% endblock %}
