{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Boutique {% endblock %}

{% block body %}

    <main>
        <!-- Fil d'ariane -->
        <nav
                class="container my-2"
                style="--bs-breadcrumb-divider: '>'"
                aria-label="breadcrumb"
        >
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('default') }}">Accueil</a></li>
                {% if app.request.attributes.get('_route') == "boutique" %}
                    <li class="breadcrumb-item">
                        <a class="active">boutique</a>
                    </li>
                {% endif %}
                {% if app.request.attributes.get('_route') != "boutique" %}
                    <li class="breadcrumb-item">
                    <a {% if app.request.attributes.get('_route') == "boutiqueCat" %}class="active"{% endif %}
                       href="{{ path('boutiqueCat',  {'categorie' : categorie.id ,  'pageCourante' : 1}) }}">{{ categorie.nom }}</a>
                    </li>{% endif %}
                {% if app.request.attributes.get('_route') in ["boutiqueSouscat", "boutiqueSubsouscat"] %}
                    <li class="breadcrumb-item">
                        <a {% if app.request.attributes.get('_route') == "boutiqueSouscat" %}class="active"{% endif %}
                           href="{{ path('boutiqueSouscat',  {'categorie' : categorie.id , 'souscategorie' : souscategorie.id,  'pageCourante' : 1}) }}">{{ souscategorie.nom }}</a>
                    </li>
                {% endif %}
                {% if app.request.attributes.get('_route') == "boutiqueSubsouscat" %}
                    <li class="breadcrumb-item">
                        <a {% if app.request.attributes.get('_route') == "boutiqueSubsouscat" %}class="active"{% endif %}
                           href="{{ path('boutiqueSubsouscat',  {'categorie' : categorie.id , 'souscategorie' : souscategorie.id,  'subsouscategorie' : subsouscategorie.id,  'pageCourante' : 1}) }}">{{ subsouscategorie.nom }}</a>
                    </li>
                {% endif %}

            </ol>
        </nav>


        <!-- header page -->
        <div id="ancre-boutique" class="d-flex" style="
                background:
        {% if app.request.attributes.get('_route') == "boutique" %}
                url({{ asset('img/dog-sous-categorie.jpg') }})
        {% else %}
                url({{ asset('uploads/imagescat/'~categorie.bannerImage) }})
        {% endif %}

                center center no-repeat;
                background-size: cover;
                width: auto;
                min-height: 244px;
                }">
            {% if app.request.attributes.get('_route') == "boutique" %}
                <h2 class="container align-self-center h2-souscat">
                    Boutique
                </h2>
            {% elseif app.request.attributes.get('_route') == "boutiqueCat" %}
                <h2 class="container align-self-center h2-souscat">
                    Tout pour <br/>
                    {{ categorie.nom }}
                </h2>
            {% else %}
                <h2 class="container align-self-center h2-souscat">
                    {{ souscategorie.nom }} pour <br/>
                    {{ categorie.nom }}
                </h2>
            {% endif %}
        </div>

        <!-- produits -->
        <section>
            <div class="container">
                <div class="row">
                    <!-- row 1 -->
                    <!-- left - accordion -->
                    <aside class="col-lg-3 d-none mt-4 d-lg-block">
                        <div class="accordion accordion-flush" id="accordion">
                            {% if app.request.attributes.get('_route') in ["boutique", "boutiqueCat"] %}
                                {% for categorie in categories %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-heading{{ loop.index }}">
                                            <button
                                                    class="accordion-commande accordion-button collapsed"
                                                    type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#flush-collapse{{ loop.index }}"
                                                    aria-expanded="false"
                                                    aria-controls="flush-collapse{{ loop.index }}"
                                            >
                                                {{ categorie.nom }}
                                            </button>
                                        </h2>
                                        <div
                                                id="flush-collapse{{ loop.index }}"
                                                class="accordion-collapse collapse"
                                                aria-labelledby="flush-heading{{ loop.index }}"
                                                data-bs-parent="#accordion"
                                        >
                                            <div class="accordion-body">
                                                <ul>
                                                    {% for souscategorie in allSouscategories %}
                                                    {% if souscategorie.categorie.id == categorie.id %}
                                                    <li>
                                                        <a href="{{ path('boutiqueSouscat',  {'categorie' : categorie.id , 'souscategorie' : souscategorie.id,  'pageCourante' : 1}) }}"
                                                           class="text-red">{{ souscategorie.nom }}</a></li>
                                                    <li>
                                                        {% endif %}
                                                        {% endfor %}

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% for souscategorie in souscategories %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-heading{{ loop.index }}">
                                            <button
                                                    class="accordion-button collapsed"
                                                    type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#flush-collapse{{ loop.index }}"
                                                    aria-expanded="false"
                                                    aria-controls="flush-collapse{{ loop.index }}"
                                            >
                                                {{ souscategorie.nom }}
                                            </button>
                                        </h2>
                                        <div
                                                id="flush-collapse{{ loop.index }}"
                                                class="accordion-collapse collapse"
                                                aria-labelledby="flush-heading{{ loop.index }}"
                                                data-bs-parent="#accordion"
                                        >
                                            <div class="accordion-body">
                                                <ul>

                                                    {% for subsouscategorie in subsouscategories %}
                                                    {% if subsouscategorie.souscategorie.id == souscategorie.id %}
                                                    <li><a href="" class="text-red">{{ subsouscategorie.nom }}</a></li>
                                                    <li>
                                                        {% endif %}
                                                        {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}


                        </div>
                    </aside>
                    {# right #}
                    <div class="col-lg-9 my-4 col-12">
                        <div class="row">
                            <!-- row 1 -->
                            <!-- nav filtres -->
                            <div class="col-4 ms-4">
                                {{ form_start(form, {'attr': {'class': 'moteurRecherche'}}) }}
                                {% if filtres is not empty and filtres.searchBar is not null %}
                                    {{ form_row(form.searchBar, { 'value': filtres.searchBar }) }}
                                {% else %}
                                    {{ form_row(form.searchBar) }}
                                {% endif %}
                            </div>

                            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                                <div class="container-fluid">
                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#navbarNav" aria-controls="navbarNav"
                                            aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                        <span>Filtrer</span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarNav">
                                        <ul class="navbar-nav w-100 justify-content-between">
                                            <li class="nav-item">
                                                {% if filtres is not empty and filtres.marque is not null %}
                                                    {{ form_row(form.marque, { 'value': filtres.marque.idMarque }) }}
                                                {% else %}
                                                    {{ form_row(form.marque) }}
                                                {% endif %}
                                            </li>
                                            <li class="nav-item">
                                                {% if filtres is not empty and filtres.prixMin is not null %}
                                                    {{ form_row(form.prixMin, { 'value': filtres.prixMin }) }}
                                                {% else %}
                                                    {{ form_row(form.prixMin) }}
                                                {% endif %}
                                            </li>
                                            <li class="nav-item">
                                                {% if filtres is not empty and filtres.prixMax is not null %}
                                                    {{ form_row(form.prixMax, { 'value': filtres.prixMax }) }}
                                                {% else %}
                                                    {{ form_row(form.prixMax) }}
                                                {% endif %}
                                            </li>
                                            <li class="nav-item">
                                                {% if filtres is not empty and filtres.ordre is not null %}
                                                    {{ form_row(form.ordre, { 'value': filtres.ordre }) }}
                                                {% else %}
                                                    {{ form_row(form.ordre) }}
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>


                            {# <nav class="navbar navbar-expand-lg navbar-light py-0">
                                    <div class="container-fluid px-0">

                                    </div>
                                    <div class="container-fluid px-0">

                                    </div>
                                    <div class="container-fluid px-0">

                                    </div>
                                    <div class="container-fluid px-0">

                                    </div>
                                </nav> #}


                            {{ form_end(form) }}

                            <!-- nb produits -->
                            <div class="col-12 mb-3">
                                <p class="trait-pdt text-center my-0">{{ nbProduits }} produits</p>
                            </div>


                            {# produits #}
                            {% if produits|length == 0 %}
                                <div class="alert alert-danger text-center mt-4" role="alert">Aucun produit ne
                                    correspond à
                                    votre
                                    requête
                                </div>
                            {% endif %}
                            {% for produit in produits %}
                                <div class="col-lg-4 col-sm-6 col-12 mb-4">
                                    <div class="card mx-auto card-border">
                                        <a href="{{ path('singleProduct', {'id': produit.id}) }}">
                                            <figure>
                                                <img
                                                        src="{{ produit.images | first }}"
                                                        class="img-produit"
                                                        alt="{{ produit.nom }}"
                                                        title="{{ produit.nom }}"
                                                        width="150"
                                                        height="180"
                                                />
                                            </figure>
                                            <div class="card-body">
                                                <h5 class="card-title">{{ produit.idMarque.nom }}</h5>
                                                <p>{{ produit.nom }}</p>
                                                <h5 class="card-price">{{ produit.prixHt }} €</h5>
                                            </div>
                                        </a>
                                        <a href="#"
                                           class="mybutton-card mx-auto mb-3 panier"
                                           data-bs-toggle="modal"
                                           data-bs-target="#modal"
                                           data-id="{{ produit.id }}"
                                           data-nom="{{ produit.nom }}"
                                           data-prix="{{ produit.prixHt }}"


                                        >
                                            Ajouter au panier
                                        </a>

                                    </div>
                                </div>
                            {% endfor %}

                            {# modal panier #}
                            <div
                                    class="modal fade"
                                    id="modal"
                                    data-bs-backdrop="static"
                                    data-bs-keyboard="false"
                                    tabindex="-1"
                                    aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true"

                            >
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5
                                                    class="modal-title text-red"
                                                    id="staticBackdropLabel"
                                            >
                                                L'article a été ajouté à votre panier
                                            </h5>
                                            <button
                                                    type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"
                                            ></button>
                                        </div>
                                        <!-- BODY FORM -->
                                        <div class="modal-body d-flex flex-column">
                                            <p class="mb-1 fs-5"
                                               id="nomArticle"
                                            >

                                            </p>
                                            <div class="d-flex align-items-center">

                                                <p class="ms-4 mb-2 text-red fs-5 fw-bold" id="prixArticle">
                                                </p>
                                            </div>
                                            <div>
                                                <div class="d-flex align-items-center my-2">
                                                    <img
                                                            src="images/pick-up-store.svg"
                                                            alt="retrait en magasin"
                                                    />
                                                    <h6 class="fw-light my-0 ms-2">
                                                        Retirer en magasin - gratuit
                                                    </h6>
                                                </div>
                                                <div class="d-flex align-items-center my-2">
                                                    <img
                                                            src="images/home.svg"
                                                            alt="retrait en magasin"
                                                    />
                                                    <h6 class="fw-light my-0 ms-2">
                                                        Livraison - Offerte
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer my-3">
                                            <!-- rester page -->
                                            <a
                                                    href="#"
                                                    class="btn btn-secondary"
                                                    id="addPanierStay"

                                            >
                                                Poursuivre les achats
                                            </a>
                                            <!-- Envoyer panier -->
                                            <a
                                                    href="#"
                                                    type="button"
                                                    class="btn btn-primary"
                                                    id="addPanier"
                                            >
                                                Accéder au panier
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Bouton up -->
                            <div class="col-12 mb-3">
                                <a href="#ancre-boutique">
                                    <div class="text-end">
                                        <i
                                                class="
                          fs-5
                          border border-2
                          rounded
                          border-dark
                          p-2
                          fas
                          fa-chevron-up
                        "
                                        ></i>
                                    </div>
                                </a>
                            </div>

                            <!-- trait pages -->
                            <div class="col-12 mb-3">
                                <div class="trait-pdt text-center">Page {{ pageCourante }}
                                    sur {{ nbPage | round(0, 'floor') }}</div>
                            </div>

                            <!-- Pagination -->
                            <div class="col-12">
                                <nav>
                                    <ul class="pagination justify-content-center">

                                        <li class="page-item mx-2 {% if pageCourante == 1 %}disabled{% endif %}">

                                            <a class="page-link"
                                                    {% if app.request.attributes.get('_route') == "boutique" %}
                                                        href="{{ path('boutique',  {'pageCourante' : pageCourante-1}) }}"
                                                    {% elseif app.request.attributes.get('_route') == "boutiqueCat" %}
                                                        href="{{ path('boutiqueCat',  {'categorie' : categorie.id , 'pageCourante' : pageCourante-1}) }}"
                                                    {% elseif app.request.attributes.get('_route') == "boutiqueSouscat" %}
                                                        href="{{ path('boutiqueSouscat',  {'categorie' : categorie.id , 'souscategorie' : souscategorie.id,  'pageCourante' : pageCourante-1}) }}"
                                                    {% elseif app.request.attributes.get('_route') == "boutiqueSubsouscat" %}
                                                        href="{{ path('boutiqueSubsouscat',  {'categorie' : categorie.id , 'souscategorie' : souscategorie.id,  'subsouscategorie' : subsouscategorie.id,  'pageCourante' : pageCourante-1}) }}"
                                                    {% endif %}
                                               aria-label="Previous">
                                                <span aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                                            </a>
                                        </li>
                                        {% for page in 1..nbPage %}
                                            <li class="page-item {% if page == pageCourante %}active {% endif %}  mx-2"
                                                aria-current="page">
                                                <a class="page-link"
                                                        {% if app.request.attributes.get('_route') == "boutique" %}
                                                   href="{{ path('boutique', {'pageCourante' : page}) }}">{{ page }}
                                                    {% elseif app.request.attributes.get('_route') == "boutiqueCat" %}
                                                        href="{{ path('boutiqueCat', {'categorie' : categorie.id , 'pageCourante' : page}) }}">{{ page }}
                                                    {% elseif app.request.attributes.get('_route') == "boutiqueSouscat" %}
                                                        href="{{ path('boutiqueSouscat', {'categorie' : categorie.id , 'souscategorie' : souscategorie.id, 'pageCourante' : page}) }}">{{ page }}
                                                    {% elseif app.request.attributes.get('_route') == "boutiqueSubsouscat" %}
                                                        href="{{ path('boutiqueSubsouscat', {'categorie' : categorie.id , 'souscategorie' : souscategorie.id,  'subsouscategorie' : subsouscategorie.id,  'pageCourante' : page}) }}">{{ page }}
                                                    {% endif %}
                                                </a>
                                            </li>
                                        {% endfor %}


                                        <li class="page-item  mx-2 {% if pageCourante == nbPage %}disabled{% endif %}">
                                            <a class="page-link"
                                                    {% if app.request.attributes.get('_route') == "boutique" %}
                                                        href="{{ path('boutique',  {'pageCourante' : pageCourante+1}) }}"
                                                    {% elseif app.request.attributes.get('_route') == "boutiqueCat" %}
                                                        href="{{ path('boutiqueCat',  {'categorie' : categorie.id , 'pageCourante' : pageCourante+1}) }}"
                                                    {% elseif app.request.attributes.get('_route') == "boutiqueSouscat" %}
                                                        href="{{ path('boutiqueSouscat',  {'categorie' : categorie.id , 'souscategorie' : souscategorie.id, 'pageCourante' : pageCourante+1}) }}"
                                                    {% elseif app.request.attributes.get('_route') == "boutiqueSubsouscat" %}
                                                        href="{{ path('boutiqueSubsouscat',  {'categorie' : categorie.id , 'souscategorie' : souscategorie.id,   'subsouscategorie' : subsouscategorie.id,  'pageCourante' : pageCourante+1}) }}"
                                                    {% endif %}
                                               aria-label="Next">
                                                <span aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                                            </a>
                                        </li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Les marques     -->
        {% include 'parts/marques.html.twig' %}

        <!-- section réassurance -->
        {% include 'parts/reassuranceClient.html.twig' %}

    </main>

{% endblock %}
