{% extends 'base.html.twig' %}

{% block title %}Hello BoutiqueController!{% endblock %}

{% block body %}

    <main>
        <!-- Fil d'ariane -->
        <nav
                class="container my-2"
                style="--bs-breadcrumb-divider: '>'"
                aria-label="breadcrumb"
        >
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                <li class="breadcrumb-item">
                    <a href="sous-categories.html">Chien</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Nourriture</li>
            </ol>
        </nav>

        <!-- header page -->
        <div id="ancre-boutique" class="bg-souscat d-flex">
            <h2 class="container align-self-center">
                Nourriture pour <br/>
                chien
            </h2>
        </div>

        <!-- produits -->

        <section>
            <div class="container">
                <div class="row">
                    <!-- row 1 -->
                    <!-- left - accordion -->
                    <aside class="col-lg-3 d-none mt-4 d-lg-block">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseOne"
                                            aria-expanded="false"
                                            aria-controls="flush-collapseOne"
                                    >
                                        Nourriture
                                    </button>
                                </h2>
                                <div
                                        id="flush-collapseOne"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingOne"
                                        data-bs-parent="#accordionFlushExample"
                                >
                                    <div class="accordion-body">
                                        <ul>
                                            <li><a href="" class="text-red">Croquettes</a></li>
                                            <li>
                                                <a href="" class="text-red">Nourriture humide</a>
                                            </li>
                                            <li><a href="" class="text-red">Friandises</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseTwo"
                                            aria-expanded="false"
                                            aria-controls="flush-collapseTwo"
                                    >
                                        Couchage
                                    </button>
                                </h2>
                                <div
                                        id="flush-collapseTwo"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingTwo"
                                        data-bs-parent="#accordionFlushExample"
                                >
                                    <div class="accordion-body">
                                        <ul>
                                            <li><a href="" class="text-red">Paniers</a></li>
                                            <li><a href="" class="text-red">Tapis</a></li>
                                            <li><a href="" class="text-red">Corbeilles</a></li>
                                            <li><a href="" class="text-red">Niches</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseThree"
                                            aria-expanded="false"
                                            aria-controls="flush-collapseThree"
                                    >
                                        promenade
                                    </button>
                                </h2>
                                <div
                                        id="flush-collapseThree"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingThree"
                                        data-bs-parent="#accordionFlushExample"
                                >
                                    <div class="accordion-body">
                                        <ul>
                                            <li><a href="" class="text-red">Laisses</a></li>
                                            <li><a href="" class="text-red">Colliers</a></li>
                                            <li><a href="" class="text-red">Harnais</a></li>
                                            <li><a href="" class="text-red">Muselière</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFour">
                                    <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseFour"
                                            aria-expanded="false"
                                            aria-controls="flush-collapseFour"
                                    >
                                        Jouets
                                    </button>
                                </h2>
                                <div
                                        id="flush-collapseFour"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingFour"
                                        data-bs-parent="#accordionFlushExample"
                                >
                                    <div class="accordion-body">
                                        <ul>
                                            <li><a href="" class="text-red">Balles</a></li>
                                            <li><a href="" class="text-red">Peluches</a></li>
                                            <li>
                                                <a href="" class="text-red">Jouets à mordiller</a>
                                            </li>
                                            <li><a href="" class="text-red">Cordes</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFive">
                                    <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseFive"
                                            aria-expanded="false"
                                            aria-controls="flush-collapseFive"
                                    >
                                        Soins
                                    </button>
                                </h2>
                                <div
                                        id="flush-collapseFive"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingFive"
                                        data-bs-parent="#accordionFlushExample"
                                >
                                    <div class="accordion-body">
                                        <ul>
                                            <li><a href="" class="text-red">Croquettes</a></li>
                                            <li>
                                                <a href="" class="text-red">Nourriture humide</a>
                                            </li>
                                            <li><a href="" class="text-red">Friandises</a></li>
                                            <li><a href="" class="text-red">Friandises</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingSix">
                                    <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseSix"
                                            aria-expanded="false"
                                            aria-controls="flush-collapseSix"
                                    >
                                        Gamelles
                                    </button>
                                </h2>
                                <div
                                        id="flush-collapseSix"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingSix"
                                        data-bs-parent="#accordionFlushExample"
                                >
                                    <div class="accordion-body">
                                        <ul>
                                            <li><a href="" class="text-red">Croquettes</a></li>
                                            <li>
                                                <a href="" class="text-red">Nourriture humide</a>
                                            </li>
                                            <li><a href="" class="text-red">Friandises</a></li>
                                            <li><a href="" class="text-red">Friandises</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <!-- right -->
                    <div class="col-lg-9 my-4 col-12">
                        <div class="row">
                            <!-- row 1 -->
                            <!-- nav filtres -->
                            <div class="col-lg-9 col-6 mb-3">
                                <nav class="navbar navbar-expand-lg navbar-light py-0">
                                    <div class="container-fluid px-0">
                                        <button
                                                class="navbar-toggler"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#navbarFiltreProduit"
                                                aria-controls="navbarFiltreProduit"
                                                aria-expanded="false"
                                                aria-label="Toggle navigation"
                                        >
                                            <span>Filtrer</span>
                                            <span class="navbar-toggler-icon"></span>
                                        </button>

                                        <div
                                                class="collapse navbar-collapse"
                                                id="navbarFiltreProduit"
                                        >
                                            <ul class="navbar-nav filtres me-4 mb-2 mb-lg-0">
                                                <li
                                                        class="
                              nav-item
                              dropdown
                              bg-light
                              border border-2
                              rounded
                              me-3
                            "
                                                >
                                                    <a
                                                            class="nav-link dropdown-toggle ms-2"
                                                            href="#"
                                                            id="navbarDropdown"
                                                            role="button"
                                                            data-bs-toggle="dropdown"
                                                            aria-expanded="false"
                                                    >
                                                        Marques
                                                    </a>
                                                    <ul
                                                            class="dropdown-menu"
                                                            aria-labelledby="navbarDropdown"
                                                    >
                                                        <li>
                                                            <a class="dropdown-item" href="#">Marque 1</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">Marque 2</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">Marque 3</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">Marque 4</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">Marque 5</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">Marque 6</a>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li
                                                        class="
                              nav-item
                              dropdown
                              bg-light
                              border border-2
                              rounded
                              me-3
                            "
                                                >
                                                    <a
                                                            class="nav-link dropdown-toggle ms-2"
                                                            href="#"
                                                            id="navbarDropdown4"
                                                            role="button"
                                                            data-bs-toggle="dropdown"
                                                            aria-expanded="false"
                                                    >
                                                        Prix
                                                    </a>
                                                    <ul
                                                            class="dropdown-menu"
                                                            aria-labelledby="navbarDropdown4"
                                                    >
                                                        <li>
                                                            <a class="dropdown-item" href="#"
                                                            >1€ - 29,99€</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#"
                                                            >30€ - 59,99€</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#"
                                                            >60€ - 99,99€</a
                                                            >
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#"
                                                            >100€ - 199,99€</a
                                                            >
                                                        </li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                            {# {{ dump(filtres.marque) }} #}
                            {{ dump(filtres) }}
                            {{ dump(app.session.get('rechercheNav')) }}
                            {{ form_start(form, {'attr': {'class': 'moteurRecherche'}}) }}

                            {% if app.session.get('rechercheNav') is not null and filtres is empty %}
                                {{ form_row(form.searchBar, { 'value': app.session.get('rechercheNav') }) }}
                            {% elseif filtres is not empty and filtres.searchBar is not null %}
                                {{ form_row(form.searchBar, { 'value': filtres.searchBar }) }}
                            {% else %}
                                {{ form_row(form.searchBar) }}
                            {% endif %}

                            {% if filtres is not empty and filtres.marque is not null %}
                                {{ form_row(form.marque, { 'value': filtres.marque.idMarque }) }}
                            {% else %}
                                {{ form_row(form.marque) }}
                            {% endif %}

                            {% if filtres is not empty and filtres.prixMin is not null %}
                                {{ form_row(form.prixMin, { 'value': filtres.prixMin }) }}
                            {% else %}
                                {{ form_row(form.prixMin) }}
                            {% endif %}

                            {% if filtres is not empty and filtres.prixMax is not null %}
                                {{ form_row(form.prixMax, { 'value': filtres.prixMax }) }}
                            {% else %}
                                {{ form_row(form.prixMax) }}
                            {% endif %}

                            {% if filtres is not empty and filtres.ordre is not null %}
                                {{ form_row(form.ordre, { 'value': filtres.ordre }) }}
                            {% else %}
                                {{ form_row(form.ordre) }}
                            {% endif %}

                            {{ form_end(form) }}

                            <!-- dropdown -->
                            <div class="col-lg-3 col-6 mb-3">
                                <div class="dropdown text-end">
                                    <button
                                            class="btn btn-trier dropdown-toggle"
                                            type="button"
                                            id="dropdownMenuButton1"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false"
                                    >
                                        Trier par
                                    </button>
                                    <ul
                                            class="dropdown-menu"
                                            aria-labelledby="dropdownMenuButton1"
                                    >
                                        <li>
                                            <a class="dropdown-item" href="#">prix croissants</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">Prix décroissant</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#">Popularité</a></li>
                                        <li><a class="dropdown-item" href="#">Nouveauté</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- nb produits -->
                            <div class="col-12 mb-3">
                                <p class="trait-pdt text-center my-0">{{ nbProduits }} produits</p>
                            </div>


                            <!-- produits -->
                            {% if produits|length == 0 %}
                                <div class="alert alert-danger text-center mt-4" role="alert">Aucun produit ne
                                    correspond à
                                    votre
                                    requête
                                </div>
                            {% endif %}
                            {% for produit in produits %}
                                <div class="col-lg-4 col-sm-6 col-12 mb-4">
                                    <div class="card mx-auto card-border">
                                        <a href="{{ path('singleProduct', {'id': produit.id}) }}">
                                            <figure>
                                                <img
                                                        src="{{ produit.images | first }}"
                                                        class="img-produit"
                                                        alt="{{ produit.nom }}"
                                                        title="{{ produit.nom }}"
                                                        width="150"
                                                        height="180"
                                                />
                                            </figure>
                                            <div class="card-body">
                                                <h5 class="card-title">{{ produit.idMarque.nom }}</h5>
                                                <p>{{ produit.nom }}</p>
                                                <h5 class="card-price">{{ produit.prixHt }} €</h5>
                                            </div>
                                        </a>
                                        <a href="#"
                                           class="mybutton-card mx-auto mb-3 panier"
                                           data-bs-toggle="modal"
                                           data-bs-target="#modal"
                                           data-id="{{ produit.id }}"
                                           data-nom="{{ produit.nom }}"
                                           data-prix="{{ produit.prixHt }}"


                                        >
                                            Ajouter au panier
                                        </a>

                                    </div>
                                </div>
                            {% endfor %}

                            {# modal panier #}
                            <div
                                    class="modal fade"
                                    id="modal"
                                    data-bs-backdrop="static"
                                    data-bs-keyboard="false"
                                    tabindex="-1"
                                    aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true"

                            >
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5
                                                    class="modal-title text-red"
                                                    id="staticBackdropLabel"
                                            >
                                                L'article a été ajouté à votre panier
                                            </h5>
                                            <button
                                                    type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"
                                            ></button>
                                        </div>
                                        <!-- BODY FORM -->
                                        <div class="modal-body d-flex flex-column">
                                            <p class="mb-1 fs-5"
                                               id="nomArticle"
                                            >

                                            </p>
                                            <div class="d-flex align-items-center">

                                                <p class="ms-4 mb-2 text-red fs-5 fw-bold" id="prixArticle">
                                                </p>
                                            </div>
                                            <div>
                                                <div class="d-flex align-items-center my-2">
                                                    <img
                                                            src="images/pick-up-store.svg"
                                                            alt="retrait en magasin"
                                                    />
                                                    <h6 class="fw-light my-0 ms-2">
                                                        Retirer en magasin - gratuit
                                                    </h6>
                                                </div>
                                                <div class="d-flex align-items-center my-2">
                                                    <img
                                                            src="images/home.svg"
                                                            alt="retrait en magasin"
                                                    />
                                                    <h6 class="fw-light my-0 ms-2">
                                                        Livraison - Offerte
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer my-3">
                                            <!-- rester page -->
                                            <a
                                                    href="#"
                                                    class="btn btn-secondary"
                                                    id="addPanierStay"

                                            >
                                                Poursuivre les achats
                                            </a>
                                            <!-- Envoyer panier -->
                                            <a
                                                    href="#"
                                                    type="button"
                                                    class="btn btn-primary"
                                                    id="addPanier"
                                            >
                                                Accéder au panier
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Bouton up -->
                            <div class="col-12 mb-3">
                                <a href="#ancre-boutique">
                                    <div class="text-end">
                                        <i
                                                class="
                          fs-5
                          border border-2
                          rounded
                          border-dark
                          p-2
                          fas
                          fa-chevron-up
                        "
                                        ></i>
                                    </div>
                                </a>
                            </div>

                            <!-- trait pages -->
                            <div class="col-12 mb-3">
                                <div class="trait-pdt text-center">Page {{ pageCourante }}
                                    sur {{ nbPage | round(0, 'floor') }}</div>
                            </div>

                            <!-- Pagination -->
                            <div class="col-12">
                                <nav>
                                    <ul class="pagination justify-content-center">

                                        <li class="page-item mx-2 {% if pageCourante == 1 %}disabled{% endif %}">

                                            <a class="page-link"
                                               href="{{ path('boutique',  {'pageCourante' : pageCourante-1}) }}"
                                               aria-label="Previous">
                                                <span aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                                            </a>
                                        </li>
                                        {% for page in 1..nbPage %}
                                            <li class="page-item {% if page == pageCourante %}active {% endif %}  mx-2"
                                                aria-current="page">
                                                <a class="page-link"
                                                   href="{{ path('boutique', {'pageCourante' : page}) }}">{{ page }}</a>
                                            </li>
                                        {% endfor %}


                                        <li class="page-item  mx-2 {% if pageCourante == nbPage %}disabled{% endif %}">
                                            <a class="page-link"
                                               href="{{ path('boutique', {'pageCourante' : pageCourante+1}) }}"
                                               aria-label="Next">
                                                <span aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                                            </a>
                                        </li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Les marques     -->
        {% include 'parts/marques.html.twig' %}

        <!-- section réassurance -->
        {% include 'parts/reassuranceClient.html.twig' %}

    </main>

{% endblock %}
