{% extends 'base-admin.html.twig' %}

{% block title %} {{ parent() }} Marques{% endblock %}

{% block body %}
    <h1>Marques</h1>

    <table class="table">
        <thead>
        <tr>
            <th>IdMarque</th>
            <th>Nom</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for marque in marques %}
            <tr>
                <td>{{ marque.idMarque }}</td>
                <td>{{ marque.nom }}</td>
                <td>
                    <a class="btn btn-outline-dark"
                       href="{{ path('marque_show', {'idMarque': marque.idMarque}) }}">Voir</a>
                    <a class="btn btn-outline-primary" href="{{ path('marque_edit', {'idMarque': marque.idMarque}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('marque_new') }}">Créer</a>
{% endblock %}
