{{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.categorie) }}

{% if souscategorie.id is not null %}
    <div>
        <p>Image actuelle</p>
        <img class="rounded img-fluid" width="250" src="{{ asset('uploads/imagessouscat/'~ souscategorie.imageLink) }}">
    </div>

    <p>Choisissez un fichier seulement si vous souhaitez changer l'image</p>
    {{ form_row(form.imageLink, {'required': false}) }}
{% else %}

    {{ form_row(form.imageLink, {'required': true}) }}

{% endif %}

<button class="btn mt-2">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
