{% extends 'base-admin.html.twig' %}

{% block title %}Souscategorie index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin/dataTable.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script rel=script" src="{{ asset('js/admin/dataTable.js') }}"></script>
    <script rel=script" src="{{ asset('js/admin/initDataTable.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Sous categories</h1>

    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>IdSousCategorie</th>
            <th>Nom</th>
            <th>Catégorie parent</th>
            <th>Image</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for souscategorie in souscategories %}
            <tr>
                <td>{{ souscategorie.id }}</td>
                <td>{{ souscategorie.nom }}</td>
                <td>{{ souscategorie.categorie }}</td>
                <td><img src="{{ asset('uploads/imagessouscat/'~ souscategorie.imageLink) }}"
                         alt="{{ souscategorie.nom }}" width="200px">
                </td>
                <td>
                    <a class="btn btn-outline-dark"  href="{{ path('souscategorie_show', {'id': souscategorie.id}) }}">Voir</a>
                    <a class="btn btn-outline-primary" href="{{ path('souscategorie_edit', {'id': souscategorie.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('souscategorie_new') }}">Créer</a>
{% endblock %}
