{% extends 'base-admin.html.twig' %}

{% block title %}Sous catégorie{% endblock %}

{% block body %}
    <h1>Sous catégorie</h1>

    <table class="table mb-3">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ souscategorie.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ souscategorie.nom }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-dark" href="{{ path('souscategorie_index') }}">Retour à la liste</a>
    <a class="btn btn-outline-warning" href="{{ path('souscategorie_edit', {'id': souscategorie.id}) }}">Modifier</a>

    {{ include('souscategorie/_delete_form.html.twig') }}
{% endblock %}
