<section class="pb-5">
    <h2 class="text-center">
        Les marques préférées de vos <span>toutous</span>
    </h2>
    <div class="swiper container">
        <div class="position-relative mySwiper2 py-4">
            <div class="swiper-scrollbar"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide d-flex justify-content-center">
                    <img src="{{ asset('img/Marque-2.png') }}" alt=""/>
                </div>

                <div class="swiper-slide d-flex justify-content-center">
                    <img src="{{ asset('img/Marque-3.png') }}" alt=""/>
                </div>

                <div class="swiper-slide d-flex justify-content-center">
                    <img src="{{ asset('img/Marque-4.png') }}" alt=""/>
                </div>

                <div class="swiper-slide d-flex justify-content-center">
                    <img src="{{ asset('img/Marque-5.png') }}" alt=""/>
                </div>

                <div class="swiper-slide d-flex justify-content-center">
                    <img src="{{ asset('img/Marque-6.png') }}" alt=""/>
                </div>

                <div class="swiper-slide d-flex justify-content-center">
                    <img src="{{ asset('img/Marque-7.png') }}" alt=""/>
                </div>

                <div class="swiper-slide d-flex justify-content-center">
                    <img src="{{ asset('img/Marque-8.png') }}" alt=""/>
                </div>

                <div class="swiper-slide d-flex justify-content-center">
                    <img src="{{ asset('img/Marque-9.png') }}" alt=""/>
                </div>

                <div class="swiper-slide d-flex justify-content-center">
                    <img src="{{ asset('img/Marque-10.png') }}" alt=""/>
                </div>
            </div>
        </div>
    </div>
</section>